@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply w-full h-full overflow-hidden text-text bg-surface;
  }

  /* Never show ligatures */
  :root {
    font-variant-ligatures: none;
  }

  /* The following fixes weird font rendering issues on Linux */
  html[data-platform="linux"] {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  ::selection {
    @apply bg-selection;
  }

  /* Disable user selection to make it more "app-like" */
  :not(a),
  :not(input):not(textarea),
  :not(input):not(textarea)::after,
  :not(input):not(textarea)::before {
    @apply select-none cursor-default;
  }

  input,
  textarea {
    &::placeholder {
      @apply text-placeholder;
    }
  }

  .select-all * {
    /*@apply select-all;*/
  }

  a,
  a[href] * {
    @apply cursor-pointer !important;
  }

  table th {
    @apply text-left;
  }

  .hide-scrollbars {
    &::-webkit-scrollbar-corner,
    &::-webkit-scrollbar {
      display: NONE !important;
    }
  }

  /* Style the scrollbars
   * Mac doesn't like this (especially in CodeMirror) so we only do it on non-macos platforms. On Mac,
   * styling the scrollbar seems to cause them to not show up at all most of the time
  */
  html:not([data-platform="macos"]) {
    * {
      ::-webkit-scrollbar-corner,
      ::-webkit-scrollbar {
        @apply w-[10px] h-[10px];
      }

      .scrollbar-track,
      ::-webkit-scrollbar-corner,
      ::-webkit-scrollbar {
        @apply bg-transparent;
      }

      &:hover {
        &.scrollbar-thumb,
        &::-webkit-scrollbar-thumb {
          @apply bg-text-subtlest hover:bg-text-subtle rounded-[2px];
        }
      }
    }

    iframe {
      &::-webkit-scrollbar-corner,
      &::-webkit-scrollbar {
        @apply bg-surface-highlight !important;
      }
    }
  }

  .rtl {
    direction: rtl;
  }

  :root {
    color-scheme: light dark;
    --transition-duration: 100ms ease-in-out;
    --color-white: 255 100% 100%;
    --color-black: 255 0% 0%;
  }
}
